body {
  background: #f7e8f0;
  margin: 50px auto;
}

h1 {
  text-align: center;
  font-size: 32px;
}
p {
  text-align: center;
}
footer {
  text-align: center;
}
a {
  color: #2e5340;
  padding: 5px;
}
.mail-id {
  color: blue;
}
.photo {
  border-radius: 8px;
  display: block;
  margin: 30px auto;
  width: 350px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
